
# Loads default set of integrations. Do not remove.
default_config:

# Helpers
input_boolean:
  home_occupied:
    name: Home Occupied
    icon: mdi:home-account
  asleep:
    name: Asleep
    icon: mdi:sleep
  humidifier_fan_control:
    name: Humidifier Turned Fan On
    icon: mdi:fan
  hvac_fan_control:
    name: HVAC Turned Fans On
    icon: mdi:hvac

# Reverse proxy configuration
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.19.0.0/16
  login_attempts_threshold: 10

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
