*.pem
/nginx/ssl/*
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.env
.env.development
.env.production
environments/.env.development
environments/.env.production

!.env.example
!environments/.env.example
!environments/README.md

*.backup
**/*.backup.*